<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Template</title>

    {% load staticfiles %}
    {% load compress %}

    {% compress css %}
    <link rel="stylesheet" type="text/less" media="all" href="{% static "less/bootstrap.less" %}" />
    <link rel="stylesheet" type="text/less" media="all" href="{% static "less/style.less" %}" />
    {% block extra_css %}{% endblock %}
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="{% static "js/jquery-1.10.2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
    <script type="text/javascript" src="{% static "js/backbone.js" %}"></script>
    {% endcompress %}
    {% block extra_js %}{% endblock %}
  </head>

  <body id="{% block body_id %}{% endblock %}">
    <div class="navbar navbar-inverse navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Template</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="">Template Nav</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      {% block body %}{% endblock %}
      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>
    </div> <!-- /container -->

    {% block extra_bottom_js %}{% endblock %}
  </body>
</html>
